.navbar-header {
  margin: auto;
  margin-top: 15px;
  margin-bottom: -12px;
}

.navbar {
  margin-bottom: 0;
}

#recenterMapButton {
  cursor: pointer;
}

.btn-group {
  margin: 0;
}

#loadStateWrapper {
  margin: auto;
}

#list li:hover {
  background-color: black;
  color: white;
}

#list li {
  cursor: pointer;
}

#mapWrapper {
  padding: 0;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: grey;
  overflow: visible !important;
}

@media (max-width: 750px) {
  #listWrapper {
    display: none;
  }

  #mapWrapper {
    width: 100%;
  }
}
